    <div id="app" style="width:80%">
      <center>
          <div class="card mt-5">
              <h1 class="card-header">TCBC Bike Routes</h1>
              <table class="table">
                  <thead class="thead-light">
                      <th>Name</th>
                      <th>City</th>
                      <th>State</th>
                      <th>Distance</th>
                      <th>Elev Gain</th>
                  </thead>
                  <tbody>
                      <tr v-for="route in apiData2">
                          <td><a :href="`${route.RouteURL}`">{{route.RouteName}}</a></td>
                          
                          <td>{{route.RouteCity}}</td>
                          <td>{{route.RouteState}}</td>
                          <td>{{route.Distance}}</td>
                          <td>{{route.ElevGain}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </center>
  </div>
