<div class="hello">
    <h1>{{ msg }}</h1>
    {{otherMsg}}
    
    <p>
      For a guide and recipes on how to configure / customize this project,<br>
      check out the
      <a href="https://cli.vuejs.org" target="_blank" rel="noopener">vue-cli documentation</a>.
    </p>
    <br>
    {{apiData2}}

    <table class="table">
      <thead class="thead-light">
          <th>Name</th>
          <th>City</th>
          <th>State</th>
          <th>Distance</th>
          <th>Elev Gain</th>
      </thead>
      <tbody>
          <tr v-for="route in apiData2">
              <td><a :href="`${route.RouteURL}`">{{route.RouteName}}</a></td>
              
              <td>{{route.RouteCity}}</td>
              <td>{{route.RouteState}}</td>
              <td>{{route.Distance}}</td>
              <td>{{route.ElevGain}}</td>
          </tr>
      </tbody>
  </table>

  </div>
